body {
    background-color: #eef2f3;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav {
    background: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 200px;
}

main {
    display: flex;
    padding: 20px;
}

aside {
    width: 30%;
    padding: 10px;
}

.thumb {
    width: 100px;
}

.about-bg {
    background-image: url("../images/banner.jpg");
    background-size: cover;
}

.float-left {
    float: left;
    width: 200px;
    margin: 10px;
}

.float-right {
    float: right;
    width: 150px;
    margin: 10px;
}

footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 40px;
}
